:root
{
    --header-height: 90px;
    --header-logo-height: 50px;
    --header-logo-margin-left: 40px;
}

::-webkit-scrollbar 
{
    width: 10px;
}

::-webkit-scrollbar-track 
{
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    background: #bbb;
    transition: all 0.25s 0s ease;
}
  
::-webkit-scrollbar-thumb:hover 
{
    background: #888;
}

html, body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a 
{
    text-decoration: none;
    color: #000000;
    position: relative;
}

a:active
{
    background: rgba(147, 83, 237, 0.3);
}

.header-item-link::after 
{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
    
.header-item-link:hover::after 
{
    transform: scale(1, 1);
    transform-origin: left top;
}

.header-root
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-container
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.15);
}

@media (min-width: 960px) 
{    
    :root
    {
        --header-height: 100px;
        --header-logo-height: 55px;
    }
    .header-nav
    {
        display: block;
    }
    .header-nav-item
    {
        margin-right: 20px;
    }
    .header-hamburger
    {
        display: none;
    }
    .news-title
    {
        margin-top: 80px;
    }
    .about-title-span,
    .news-title-span,
    .sponsor-title-span
    {
        font-size: xx-large;
    }
    .news-items
    {
        grid-template-columns: repeat(3, 1fr);
        gap: 3.75%;
    }
    .footer-container
    {
        margin: 50px;
    }
    .footer-logo
    {
        width: 6.5vw;
    }
    .footer-x-logo
    {
        width: 2.5vw;
        margin-left: 40px;
    }
    .contact-form-container,
    .contact-form-button
    {
        width: 50%;
    }
    .about-container
    {
        width: 70%;
    }
    .about-logo
    {
        width: 20%;
    }
    .footer-copyright,
    .footer-credit
    {
        font-size: 0.875em;
    }
}

@media (min-width: 796px) and (max-width: 959px) 
{    
    :root
    {
        --header-height: 90px;
        --header-logo-height: 45px;
        --header-logo-margin-left: 40px;
    }
    .header-nav
    {
        display: block;
    }
    .header-nav .header-nav-item
    {
        margin-right: 20px;
    }
    .header-hamburger
    {
        display: none;
    }
    .news-title
    {
        margin-top: 60px;
    }
    .about-title-span,
    .news-title-span,
    .sponsor-title-span
    {
        font-size: xx-large;
    }
    .news-items
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.75%;
    }
    .footer-container
    {
        margin: 70px;
    }
    .footer-logo
    {
        width: 11vw;
    }
    .footer-x-logo
    {
        width: 5vw;
        margin-left: 40px;
    }
    .contact-form-container,
    .contact-form-button
    {
        width: 70%;
    }
    .about-container
    {
        width: 85%;
    }
    .about-logo
    {
        width: 35%;
    }
    .footer-copyright,
    .footer-credit
    {
        font-size: 0.75em;
    }
}

@media (max-width: 795px) 
{    
    
    :root
    {
        --header-height: 60px;
        --header-logo-height: 35px;
        --header-logo-margin-left: 0px;
    }
    .header-nav
    {
        display: none;
    }
    .header-container 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-hamburger
    {
        display: flex;
    }
    .news-title
    {
        margin-top: 40px;
    }
    .about-title-span,
    .news-title-span,
    .sponsor-title-span
    {
        font-size: x-large;
    }
    .news-items
    {
        grid-template-columns: repeat(1, 1fr);
        gap: 0%;
    }
    .footer-container
    {
        margin: 30px;
    }
    .footer-logo
    {
        width: 12vw;
    }
    .footer-x-logo
    {
        width: 6vw;
        margin-left: 20px;
    }
    .footer-copyright
    {
        text-wrap-mode: nowrap;
        font-size: x-small;
    }
    .article-notfound-text
    {
        margin-left: 30px;
        margin-right: 30px;
    }
    .contact-form-container,
    .contact-form-button
    {
        width: 95%;
    }
    .about-container
    {
        width: 100%;
    }
    .about-logo
    {
        width: 50%;
    }
    .footer-copyright,
    .footer-credit
    {
        font-size: 0.25em;
    }
}

.header-logo-container
{
    width: auto;
    height: var(--header-logo-height);
    margin-left: var(--header-logo-margin-left);
}

.header-logo
{
    width: auto;
    height: var(--header-logo-height);
}

.header-logo-link
{
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}

.header-nav
{
    margin: 0 25px 0 auto;
}

.header-nav-items
{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-item
{
    margin-right: 30px;
}

.header-nav-item-span
{
    font-size: larger;
    font-family: "Schibsted Grotesk";
    font-weight: 600;
}

.header-nav-item-link
{
    transform: translateY(-200%);
    opacity: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.header-nav-item-link::after 
{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #9353ed;
    bottom: -7.5px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
    
.header-nav-item-link:hover::after 
{
    transform: scale(1, 1);
    transform-origin: left top;
}

.header-hamburger
{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 7.5px;
    top: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-hamburger-line
{
    width: 35px;
    height: 2px;
    background-color: #000;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.hamburger-menu-container 
{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height)); 
    position: fixed; 
    top: var(--header-height); 
    left: 0;
    background-color: #fff;
    z-index: 1000;

    transform: translateX(-100%);
}

.hamburger-menu-items 
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger-menu-nav-item {
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaa;
}

.hamburger-menu-nav-item:first-child {
    border-top: 1px solid #aaa;
}

.hamburger-menu-nav-item-link
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu-nav-item-icon
{
    margin-right: 40px;
}

.hamburger-menu-nav-item-span
{
    margin-left: 55px;
    font-size: larger;
    font-family: "Schibsted Grotesk";
    font-weight: 500;
}

.main-container
{
    margin-top: var(--header-height);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    min-height: calc(100vh - var(--header-height));
}

.main-background-image
{
    width: 100%;
    height: auto;
}

.main-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-container
{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-title
{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 20px;
}

.news-title-span
{
    font-family: "Schibsted Grotesk";
    font-weight: 600;
}

.news-items
{
    width: 100%;
    display: grid;
    
    align-items: center;
}

.news-item
{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all 0.25s 0s ease;
}

.news-item:hover
{
    transform: scale(1.025);
    box-shadow: 0px 0px 10px 0.25px rgba(147, 83, 237, 0.3);
}

.news-item-image
{
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 92.5%;
    height: auto;
}

.news-item-date
{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 5px;
    font-family: "M PLUS 1";
    font-weight: 300;
}

.news-item-title
{
    margin-left: 17.5px;
    margin-right: 17.5px;
    margin-bottom: 20px;
    font-size: larger;
    font-family: "Noto Sans JP";
    font-weight: 500;
    word-break: break-all;
}

.news-more
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.news-more-span
{
    font-size: x-large;
    font-family: "Cabin";
    font-weight: 400;
    cursor: pointer;
}

.news-more-link
{
    display: flex;
    align-items: center;
}

.news-more-link::after 
{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #9353ed;
    bottom: -6px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
    
.news-more-link:hover::after 
{
    transform: scale(1, 1);
    transform-origin: left top;
}

.news-content-container
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.footer-root
{
    width: 100%;
    background: #000;
    margin-top: auto;
}

.footer-container
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.footer-logo
{
    filter: invert(100%);
}

.footer-logo-container
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.footer-x-logo-img
{
    width: 100%;
}

.footer-other-container
{
    margin-left: auto;
}

.footer-copyright
{
    font-family: "M PLUS 1";
    font-weight: 200;
    color: white;
}

.footer-credit
{
    font-family: "M PLUS 1";
    font-weight: 200;
    color: white;
}

.footer-credit-link
{
    font-family: "M PLUS 1";
    font-weight: 200;
    color: white;
}

.article-root
{
    width: 100%;
    box-sizing: content-box;
}

.article-notfound-container
{
    margin-top: 150px;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.article-notfound-text
{
    font-family: "Noto Sans JP";
    font-weight: 600;
    font-size: x-large;
}

.article-container
{
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-title-container
{
    width: 70%;
}

.article-title
{
    font-family: "Noto Sans JP";
    font-weight: 600;
    font-size: xx-large;
}

.article-img
{
    width: 70%;
    margin: 0px;
}

.article-content-markdown
{
    width: 70%;
}

.article-content-markdown h1
{
    font-family: "Noto Sans JP";
}

.article-content-markdown p
{
    font-size: large;
    font-family: "Noto Sans JP";
    margin: 0 10px;
}

.article-content-markdown a
{
    color: #9353ed;
}

.article-content-img
{
    width: 50%;
    margin: 40px 40px;
}

.sponsor-container
{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-title
{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 20px;
}

.sponsor-title-span
{
    font-family: "Schibsted Grotesk";
    font-weight: 600;
}

.sponsor-text
{
    margin-top: 60px;
    font-size: large;
    font-family: "Noto Sans JP";
    font-weight: 500;
    text-align: center;
}

.sponsor-text a 
{
    color: #9353ed;
}

.contact-form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    
}

.contact-form-label
{
    width: auto;
    width: fit-content;
    font-family: "Noto Sans JP";
    margin-bottom: 4px;
}

.contact-form-text-input
{
    font-family: "Noto Sans JP";
    width: calc(100% - 0.5em - 2px);
    padding: 0.5em 0.5em;
    margin: 0;
    margin-left: calc(-0.25em - 1px);
    font-size: 0.9rem;
    outline: 0;
    border-radius: 0.375rem;
    border: 1px solid #B0B0B0;
}

.contact-form-text-input:focus
{
    border: 2px solid #9353ed;
}

.contact-form-main-input
{
    font-family: "Noto Sans JP";
    width: calc(100% - 0.5em - 2px);
    font-size: 0.9rem;
    padding: 0.5em 0.5em;
    margin-left: calc(-0.25em - 1px);
    outline: 0;
    border-radius: 0.375rem;
    border: 1px solid #B0B0B0;
    resize: vertical;
}

.contact-form-main-input:focus
{
    border: 2px solid #9353ed;
}

.contact-form-button
{
    font-family: "Noto Sans JP";
    margin-top: 30px;
    margin-bottom: 0;
    border-radius: 0.375rem;
    border: 0;
    padding: 0.875em 0px;
    color: white;
    background: linear-gradient(150deg, rgba(0, 0, 0, 1), rgba(88, 51, 140, 1));
    transition: 0.25s all;
}

.contact-form-button:hover
{
    opacity: 0.8;
}

.contact-form-result
{
    margin-left: 10px;
    width: 50%;
}

.about-first-text
{
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: x-large;
}

.about-container
{
    margin: 20px 0;
}

.about-label
{
    font-family: "Schibsted Grotesk";
    font-weight: 600;
    font-size: 2em;
}

.about-text
{
    width: 90%;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: larger;
    margin: 0px auto;
}

.about-value-container
{
    width: 95%;
    margin: 20px auto;
    
}

.about-value-label
{
    font-family: "Schibsted Grotesk";
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 16px;
}

.about-value-text
{
    width: 90%;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: large;
    margin: 0px auto;
}

